<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito</title>
  </head>
  <body>
    <header>
      <h1>Carrito</h1>
      <h2>Alumnos: COTTI, Luciano Ariel y RODRIGUEZ, Gonzalo Ezequiel</h2>
    </header>
    <nav>
      <a href="./productos.html">Productos</a>
      <a href="">Carrito</a>
    </nav>
    <section id="productos"></section>
    <div>
      <button id="finalizar-compra">Finalizar compra</button>
    </div>
    <script type="module" src="../controllers/carrito.js"></script>
  </body>
</html>